<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.latewind.dao.product.ProductImagesMapper" >
  <resultMap id="BaseResultMap" type="com.latewind.pojo.product.ProductImages" >
    <id column="image_id" property="imageId" jdbcType="INTEGER" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="prt_id" property="prtId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    image_id, image_name, prt_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prt_images_t
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prt_images_t
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.latewind.pojo.product.ProductImages" >
    insert into prt_images_t (image_id, image_name, prt_id
      )
    values (#{imageId,jdbcType=INTEGER}, #{imageName,jdbcType=VARCHAR}, #{prtId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.latewind.pojo.product.ProductImages" useGeneratedKeys="true" keyProperty="imageId">
    insert into prt_images_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="imageName != null" >
        image_name,
      </if>
      <if test="prtId != null" >
        prt_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="prtId != null" >
        #{prtId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.latewind.pojo.product.ProductImages" >
    update prt_images_t
    <set >
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="prtId != null" >
        prt_id = #{prtId,jdbcType=INTEGER},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.latewind.pojo.product.ProductImages" >
    update prt_images_t
    set image_name = #{imageName,jdbcType=VARCHAR},
      prt_id = #{prtId,jdbcType=INTEGER}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
</mapper>