<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.latewind.dao.product.PrtCommentMapper">
	<resultMap id="BaseResultMap" type="com.latewind.pojo.product.PrtComment">
		<id column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="prt_id" property="prtId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="eval_rank" property="evalRank" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="ExUserResultMap" type="com.latewind.pojo.product.PrtComment">
		<id column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="prt_id" property="prtId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="eval_rank" property="evalRank" jdbcType="INTEGER" />
		<association property="userInfo" javaType="com.latewind.pojo.user.UserInfo">
			<id column="uuser_id" property="userId" jdbcType="INTEGER" />
			<result column="nickname" property="nickname" jdbcType="VARCHAR" />
			<result column="head" property="head" jdbcType="LONGVARBINARY" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		comment_id, prt_id, user_id, content, create_time,
		eval_rank
	</sql>

	<!-- 根据产品Id 获取评论 userId 和头像 -->
	<select id="selectByPrtId" resultMap="ExUserResultMap">
		select pc.comment_id,
		pc.prt_id, pc.user_id, pc.content,
		pc.create_time,pc.eval_rank,u.user_id uuser_id,u.nickname,u.head
		from
		prt_comment_t pc
		join user_info_t u on u.user_id= pc.user_id and
		pc.prt_id=#{prtId}
		limit #{startPos},#{step}
	</select>
	<!--  获取商品评论总数 -->
	<select id="selectCountByPrtId" resultType="INTEGER">
		select count(*) from prt_comment_t where prt_comment_t.prt_id=#{prtId}

	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from prt_comment_t
		where comment_id = #{commentId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		prt_comment_t
		where comment_id = #{commentId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.latewind.pojo.product.PrtComment">
		insert into prt_comment_t
		(comment_id, prt_id, user_id,
		content, create_time, eval_rank
		)
		values
		(#{commentId,jdbcType=INTEGER}, #{prtId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{content,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{evalRank,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.latewind.pojo.product.PrtComment"   useGeneratedKeys="true" keyProperty="commentId">
		insert into prt_comment_t
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="commentId != null">
				comment_id,
			</if>
			<if test="prtId != null">
				prt_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="evalRank != null">
				eval_rank,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="commentId != null">
				#{commentId,jdbcType=INTEGER},
			</if>
			<if test="prtId != null">
				#{prtId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="evalRank != null">
				#{evalRank,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.latewind.pojo.product.PrtComment">
		update prt_comment_t
		<set>
			<if test="prtId != null">
				prt_id = #{prtId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="evalRank != null">
				eval_rank = #{evalRank,jdbcType=INTEGER},
			</if>
		</set>
		where comment_id = #{commentId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.latewind.pojo.product.PrtComment">
		update
		prt_comment_t
		set prt_id = #{prtId,jdbcType=INTEGER},
		user_id =
		#{userId,jdbcType=INTEGER},
		content = #{content,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		eval_rank =
		#{evalRank,jdbcType=INTEGER}
		where comment_id =
		#{commentId,jdbcType=INTEGER}
	</update>
</mapper>